body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffffff;
}

.logo{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}
.logo> span{
   color: #2e2f42
}

/*header*/
.menu{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}
.menu:hover,
.menu:focus{
   color: #404bbf;
}

address{
   font-style: normal;
   

}
.contacts-link{
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.contacts-link:hover,
.contacts-link:focus{
   color: #404bbf;
}

/*hero*/

.hero-image{
   background-color: #2e2f42;
}

.hero{
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.order{
   background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
}

.order:hover,
.order:focus{
   background-color: #404BBF;
}